*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
    background-color: #daa520;
    color: #fff;
}

body {
  max-width: 100vw;
  font-family: "Oswald", sans-serif;
  color: #111;
}

ul > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

li {
  list-style: none;
}

a[title="telefone"],
a[title="email"] {
  filter: blur(3px);
}

a[title="telefone"]:hover,
a[title="email"]:hover {
  filter: none;
}

a[title="telefone"]:after {
  content: "11 99284-9895";
}

a[title="email"]:after {
  content: "fellipedepalma@gmail.com";
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.cv-title {
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  position: relative;
}

.cv-subtitle {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

.cv-title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #daa520;
  transition: width 0.5s ease-in-out;
}

.cv-title:hover::after {
  width: 100px;
  transition: width 0.5s ease-in-out;
}

.naked {
  font-weight: 400;
}

.cv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cv-name {
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  line-height: 1.3;
}
.cv-objective {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  color: #818181;
}
.cv-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.6s ease-in-out;
  position: relative;
}
.cv-photo:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.6s ease-in-out;
}

.cv-main {
  display: flex;
}

/* ASIDE */
.cv-aside {
  width: 45%;
  margin-right: 1rem;
}

.cv-contacts,
.cv-education-history,
.cv-aboutme {
  margin-bottom: 3.5rem;
}

.cv-contacts > ul > li > a {
  line-height: 2;
  color: #515151;
  text-decoration: none;
}

.fa-brands,
.fa-regular,
.fa-solid {
  margin-right: 5px;
  color: #111;
}

.cv-education,
.cv-employment {
  margin-bottom: 2rem;
}

.cv-habilities > ul > li,
.cv-employment > ul > li,
.cv-contacts > ul > li {
  line-height: 2.5;
  padding-left: 0.5rem;
}

.cv-aboutme > p {
  color: #515151;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .container {
    padding: 2rem;
  }
  .cv-photo {
    display: none;
  }
  .cv-header {
    justify-content: center;
  }
  .cv-name-objective {
    text-align: center;
  }
  .cv-main {
    flex-flow: column-reverse wrap;
  }
  .cv-aside {
    width: 100%;
  }
  .cv-habilities > ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .cv-habilities > ul > li {
    display: flex;
    width: 100px;
    padding: 3px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 528px) {
  .cv-employment-history > .cv-title:nth-child(1)::after {
    top: 60px;
  }
}

@media print {
  
  * {
    filter: none !important;
  }
  html {
      font-size: 62.5%;
  }
  .cv-photo::after,
  .cv-photo::before {
    display: none;
  }
  .cv-title:nth-child(1)::after {
    display: none;
  }
  .cv-main {
    flex-flow: row;
  }
  .cv-aside {
    width: 45%;
  }
  .cv-habilities > ul {
    display: block;
  }
  .cv-habilities > ul > li {
    flex-direction: row;
    justify-content: flex-start;
  }
}
